:root {
    --slide: 50%;
    --scaled-width: 100%;
}

.editor {
    background: black;
    contain: strict;
    font-size: var(--slide);
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider {
    background: black;
    cursor: col-resize;
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    left: var(--slide);
}

.slider:after {
    content: '';
    height: 100%;
    left: -24px;
    position: absolute;
    width: 48px;
}

.left, .right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.left {
    clip-path: polygon(0% 0%, var(--slide) 0%, var(--slide) 100%, 0% 100%);
}

.right {
    clip-path: polygon(var(--slide) 0%, 100% 0%, 100% 100%, var(--slide) 100%);
}

.destination {
    font-size: calc(100vw / var(--scaled-width));
    width: 1em;
    height: 1em;
}

.controls {
    background: darkblue;
    border-radius: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 4px;
    padding: 24px;
    position: absolute;
    width: 200px;
    bottom: 32px;
    right: 32px;
}
